---
import BlogListItem from "../../components/BlogListItem.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import { SITE } from "../../config";
import Pagination from "../../components/Pagination.astro";
import { sortPosts, TPost } from "../../helpers/sortPosts";

interface IProps {
	page: {
		data: TPost[];
		currentPage: number;
		url: { prev: string; next: string };
	};
}

interface IStaticPathProps {
	paginate: (
		posts: TPost[],
		{ pageSize }: { pageSize: number }
	) => { page: { data: TPost[] } };
}

export async function getStaticPaths({ paginate }: IStaticPathProps) {
	const posts = ((await Astro.glob("../blog/*.{md,mdx}")) as TPost[]).sort(
		sortPosts
	);

	return paginate(posts, {
		pageSize: SITE.postsPerPage,
	});
}

const { page } = Astro.props as IProps;

const currentPage = page.currentPage ?? 1;

const title = `Blog ${currentPage > 1 ? `— Page ${currentPage} ` : ""}— ${
	SITE.name
}`;
const description = "News and step-by-step guides about AstroWind";
const canonical = new URL("/blog", Astro.site);
---

<PageLayout meta={{ title, description, canonical }}>
	<section class="px-4 sm:px-6 py-8 sm:py-16 lg:py-20 mx-auto max-w-3xl">
		<header>
			<h1
				class="text-center text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-8 md:mb-16"
			>
				Here Lies My Articles...
			</h1>
		</header>
		<ul>
			{
				page.data.map((post) => (
					<li class="mb-10 md:mb-16">
						<BlogListItem post={post} />
					</li>
				))
			}
		</ul>

		{
			(page.url.prev || page.url.next) && (
				<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
			)
		}
	</section>
</PageLayout>
