/* code blocks: default styles */
pre {
  padding: 1.5rem 1rem !important;
  position: relative;
}

pre[data-language] {
  padding: 1.5rem 0 !important;
}

pre[data-language]:after {
  content: attr(data-language);
  font-size: 0.7rem;
  opacity: 0.7;
  position: absolute;
  right: 1rem;
  text-align: right;
}

pre > code {
  display: grid;
  padding-right: 1.5rem;
}

code .line {
  padding-right: 1.5rem;
}

/* code blocks: line number styles */
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

/* code blocks: highlighted styles */
html code .line.highlighted {
  background: rgba(200, 200, 255, 0.5);
  border-left: 0.25rem solid #60a5fa;
}

html.dark code .line.highlighted {
  background: rgba(200, 200, 255, 0.1);
}

code .line.highlighted:before {
  margin-left: 0.75rem;
}

/* code blocks: light/dark mode styles */
pre[data-theme="light"] {
  background-color: ghostwhite;
}

html pre[data-theme="light"] {
  display: block;
}

html pre[data-theme="dark"] {
  display: none;
}

html.dark pre[data-theme="light"] {
  display: none;
}

html.dark pre[data-theme="dark"] {
  display: block;
}
