/* code blocks: default styles */
pre {
  padding: 1.5rem 1rem !important;
  position: relative;
}

pre[data-language] {
  padding: 1.5rem 0 !important;
}

html pre[data-language]:after {
  content: attr(data-language);
  font-size: 0.7rem;
  opacity: 0.7;
  position: absolute;
  right: 1rem;
  text-align: right;
  color: var(--tw-prose-captions);
}

html.dark pre[data-language]:after {
  color: var(--tw-prose-invert-captions);
}

pre > code {
  display: grid;
  padding-right: 1.5rem;
}

code .line {
  padding-right: 1.5rem;
}

/* code blocks: line number styles */
code {
  counter-reset: line;
}

code [data-line]::before {
  counter-increment: line;
  content: counter(line);
  width: 1rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

/* code blocks: highlighted styles */
html code .highlighted {
  background: rgba(200, 200, 255, 0.5);
  border-left: 0.25rem solid #60a5fa;
}

html.dark code .highlighted {
  background: rgba(200, 200, 255, 0.1);
}

code .highlighted:before {
  margin-left: 0.75rem;
}

/* code blocks: light/dark mode styles */
pre[data-theme="light"] {
  background-color: ghostwhite;
}

html pre[data-theme="light"] {
  display: block;
}

html pre[data-theme="dark"] {
  display: none;
}

html.dark pre[data-theme="light"] {
  display: none;
}

html.dark pre[data-theme="dark"] {
  display: block;
}
