---
import { Icon } from "astro-icon";
import PageLayout from "../layouts/PageLayout.astro";
import IconLoading from "../components/icons/IconLoading.astro";
import Technologies from "../components/Technologies.astro";

const canonical = new URL(`about`, Astro.site);

const title = "About David Hu";
const description =
  "Sometimes I write code. Other times, I write code with coffee.";

const steps = [
  {
    icon: "tabler:arrow-down",
    name: "step 1",
    content: "step 1 content",
  },
  {
    icon: "tabler:arrow-down",
    name: "step 2",
    content: "step 2 content",
  },
  {
    icon: "tabler:arrow-down",
    name: "step 3",
    content: "step 3 content",
  },
  {
    icon: "mdi:check",
    name: "ready",
  },
];
---

<PageLayout meta={{ title, description, canonical }}>
  <main>
    <section class="py-8 sm:py-16 lg:py-20 mx-auto">
      <div
        class="container mx-auto px-4 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
      >
        <IconLoading class="text-left" />

        <figure
          class="p-4 italic border-l-4 bg-neutral-100 text-gray-500 dark:text-white border-neutral-500 quote dark:bg-gray-800 shadow-xl hover:shadow-lg transition"
        >
          <p>Sometimes I write code. Other times, I write code with coffee.</p>
          <figcaption class="text-right">
            — David Hu, <cite>Unknown</cite>
          </figcaption>
        </figure>
      </div>
    </section>

    <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
      <div class="grid gap-6 row-gap-10 md:grid-cols-2">
        <div class="md:py-6 md:pr-16 text-gray-700 dark:text-gray-400">
          {
            steps.map((step) => (
              <div class="flex">
                <div class="flex flex-col items-center mr-4">
                  <div>
                    <div class="flex items-center justify-center w-10 h-10 rounded-full border-blue-500 border-2">
                      <Icon
                        name={step.icon}
                        class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold"
                      />
                    </div>
                  </div>
                  {step.content && (
                    <div class="w-px h-full bg-gray-300 dark:bg-slate-500" />
                  )}
                </div>
                <div class="pt-1 pb-8">
                  <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
                    {step.name}
                  </p>
                  <p>{step.content}</p>
                </div>
              </div>
            ))
          }
        </div>
        <div class="relative sm:hidden md:block">
          <img src="/main/me.webp" />
        </div>
      </div>
    </section>

    <Technologies />
  </main>
</PageLayout>
