---
import Icon from "astro-icon";

import { socialLinks } from "../data/socialLinks";
import PageLayout from "../layouts/PageLayout.astro";

const canonical = new URL(`contact`, Astro.site);

const title = "Contact David Hu";
const description = "Here are my contact info.";
---

<PageLayout meta={{ title, description, canonical }}>
  <main>
    <section>
      <div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
        <div class="py-12 md:py-20">
          <div class="py-4 sm:py-6 lg:py-8">
            <div class="flex flex-wrap md:-mx-8">
              <div class="w-full lg:w-1/2 px-0 sm:px-8">
                <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
                  <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">Contact Me</h2>
                  <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
                    Thank you for checking out my portfolio page.
                  </p>

                  <div class="w-full">
                    <a
                      class="btn bg-blue-600 hover:bg-blue-700 text-white font-bold"
                      href="mailto:davidhu.contact@gmail.com?subject=Hello from your blog!"
                      rel="noopener"
                    >
                      Email me
                    </a>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-0 sm:px-8">
                <ul class="space-y-6">
                  {
                    socialLinks.map((link) => (
                      <li class="flex md:-mx-4">
                        <a
                          class="rounded-full shadow p-1.5 link"
                          aria-label={link.label}
                          href={link.url}
                          target="_blank"
                        >
                          <Icon name={link.icon} class="w-16 h-16" />
                          <div class="px-4 flex items-center">
                            <h3 class="text-xl font-semibold">{link.label}</h3>
                          </div>
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</PageLayout>
