---
import BlogTech from "../components/BlogTech.astro";
import HighlightedBlogs from "../components/HighlightedBlogs.astro";
import IconProgramming from "../components/icons/IconProgramming.astro";
import PageLayout from "../layouts/PageLayout.astro";

const canonical = new URL(`/`, Astro.site);

const title = "David Hu";
const description = "Sometimes I write code. Other times, I write code with coffee.";
---

<PageLayout meta={{ title, description, canonical }}>
  <main>
    <section class="scroll-mt-16">
      <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
        <IconProgramming />
        <h1 class="text-5xl font-bold leading-tighter tracking-tighter my-4 text-center">
          Welcome to David Hu's personal site.
        </h1>

        <p class="text-xl text-gray-600 mb-8 dark:text-slate-400 text-center">
          I work as a Full Stack Engineer and write blogs (sometimes) about all things software (so
          far)
        </p>
      </div>
    </section>

    <HighlightedBlogs />

    <BlogTech />
  </main>
</PageLayout>
