---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BasicScripts from "../components/BasicScripts.astro";
import { SITE } from "../config";
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE.name} description={SITE.description} />
	</head>
	<body>
		<Header title={SITE.name} />
		<main>content</main>
		<Footer />
		<BasicScripts />
	</body>
</html>
