---
import PageLayout from "../layouts/PageLayout.astro";
import IconProgramming from "../components/icons/IconProgramming.astro";
import IconFeature from "../components/icons/IconFeature.astro";
import HighlightedBlogs from "../components/HighlightedBlogs.astro";
import BlogTech from "../components/BlogTech.astro";

const canonical = new URL(`/`, Astro.site);

const title = "David Hu";
const description =
  "Sometimes I write code. Other times, I write code with coffee.";

const technologies = [
  [
    {
      title: "Astro",
      description: "Build faster websites.",
      url: "https://astro.build/",
    },
    {
      title: "ReactJS",
      description: "A JavaScript library for building user interfaces",
      url: "https://reactjs.org/",
    },
    {
      title: "Typescript",
      description:
        "A strongly typed programming language that builds on JavaScript",
      url: "https://www.typescriptlang.org/",
    },
  ],
  [
    {
      title: "TailwindCSS",
      description: "A utility-first CSS framework",
      url: "https://tailwindcss.com/",
    },
    {
      title: "AstroWind Theme",
      description: "Astro template to kickstart your website",
      url: "https://astrowind.vercel.app/",
    },
    {
      title: "unDraw",
      description: "The design project with open-source illustrations",
      url: "https://undraw.co/",
    },
  ],
];
---

<PageLayout meta={{ title, description, canonical }}>
  <main>
    <section class="scroll-mt-16">
      <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
        <IconProgramming />
        <h1
          class="text-5xl font-bold leading-tighter tracking-tighter mb-4 text-center"
        >
          Welcome to my personal site.
        </h1>
      </div>
    </section>

    <HighlightedBlogs />

    <BlogTech />
  </main>
</PageLayout>
