---
import Icon from "astro-icon";

import Picture from "../components/Picture.astro";
import PageLayout from "../layouts/PageLayout.astro";

const canonical = new URL(`projects`, Astro.site);

const title = "Projects";
const description = "My list of projects.";
---

<PageLayout meta={{ title, description, canonical }}>
  <main>
    <section class="px-4 sm:px-6 pt-8 sm:pt-16 lg:pt-20 mx-auto max-w-3xl">
      <header>
        <h1 class={`text-center text-5xl md:text-[3.50rem] font-bold`}>
          {title}
        </h1>
      </header>
    </section>

    <section class="p-4">
      <div class="mx-auto max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <div class="text-lg">
            <h3
              class="font-bold dark:text-white text-2xl mb-2 sm:text-3xl tracking-tight capitalize"
            >
              React Spinners
            </h3>
          </div>

          <div class="flex mt-8">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-6">
                <Icon name="mdi:package-variant-closed" class="w-5 h-5" />
              </div>
            </div>
            <div class="ml-4">
              <h3 class="font-medium dark:text-white leading-6 text-lg">Description</h3>
              <p class="text-muted mt-2">
                A collection of loading spinner components built for ReactJS, with zero external
                dependencies. Each component includes storybook demos and documentation.
              </p>
            </div>
          </div>

          <div class="flex mt-4">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-6">
                <Icon name="ic:outline-highlight" class="w-5 h-5" />
              </div>
            </div>
            <div class="ml-4">
              <h3 class="font-medium dark:text-white leading-6 text-lg">Highlights</h3>
              <p class="text-muted mt-2">&gt;17 million downloads</p>
              <p class="text-muted mt-2">&gt;2500 stars on github</p>
              <p class="text-muted mt-2">used by &gt;75000 repositories</p>
            </div>
          </div>

          <div class="flex mt-4">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-6">
                <Icon name="ic:baseline-open-in-new" class="w-5 h-5" />
              </div>
            </div>
            <div class="ml-4">
              <h3 class="font-medium dark:text-white leading-6 text-lg">Links</h3>
              <a
                class="text-muted block mt-2 cursor-pointer"
                href="https://www.davidhu.io/react-spinners"
              >
                Website
              </a>
              <a
                class="text-muted block mt-2 cursor-pointer"
                href="https://github.com/davidhu2000/react-spinners"
              >
                Github
              </a>
              <a
                class="text-muted block mt-2 cursor-pointer"
                href="https://www.npmjs.com/package/react-spinners"
              >
                NPM
              </a>
            </div>
          </div>
        </div>

        <div>
          <Picture
            src="./src/assets/main/project-react-spinners.png"
            class="opacity-90 rounded-lg shadow-lg"
            widths={[400, 768]}
            sizes="(max-width: 767px) 400px, 768px"
            alt="React spinners"
            aspectRatio={1.15625}
          />
        </div>
      </div>
    </section>

    <section class="p-4">
      <div class="mx-auto max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <div class="text-lg">
            <h3
              class="font-bold dark:text-white text-2xl mb-2 sm:text-3xl tracking-tight capitalize"
            >
              Kube Knots
            </h3>
          </div>

          <div class="flex mt-8">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-6">
                <Icon name="mdi:package-variant-closed" class="w-5 h-5" />
              </div>
            </div>
            <div class="ml-4">
              <h3 class="font-medium dark:text-white leading-6 text-lg">Description</h3>
              <p class="text-muted mt-2">
                A desktop application for managing Kubernetes clusters, built using rust and
                reactJS.
                <br />
                This application is deployed to all major platforms, including Windows, Mac (Apple Silicon
                and Intel), and Linux.
              </p>
            </div>
          </div>

          <div class="flex mt-4">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-6">
                <Icon name="ic:outline-highlight" class="w-5 h-5" />
              </div>
            </div>
            <div class="ml-4">
              <h3 class="font-medium dark:text-white leading-6 text-lg">Highlights</h3>
              <p class="text-muted mt-2">Available on all macos, windows, and linux</p>
              <p class="text-muted mt-2">1 star on github 😅</p>
            </div>
          </div>

          <div class="flex mt-4">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-6">
                <Icon name="ic:baseline-open-in-new" class="w-5 h-5" />
              </div>
            </div>
            <div class="ml-4">
              <h3 class="font-medium dark:text-white leading-6 text-lg">Links</h3>
              <a
                class="text-muted block mt-2 cursor-pointer"
                href="https://www.davidhu.io/kube-knots"
              >
                Website
              </a>
              <a
                class="text-muted block mt-2 cursor-pointer"
                href="https://github.com/davidhu2000/kube-knots"
              >
                Github
              </a>
              <a
                class="text-muted block mt-2 cursor-pointer"
                href="https://www.npmjs.com/package/kube-knots/downloads"
              >
                Download
              </a>
            </div>
          </div>
        </div>

        <div>
          <Picture
            src="./src/assets/main/project-kube-knots-dark.png"
            class="opacity-90 rounded-lg shadow-lg hidden dark:block"
            widths={[400, 768]}
            sizes="(max-width: 767px) 400px, 768px"
            alt="Kube Knots"
            aspectRatio={1.3}
          />
          <Picture
            src="./src/assets/main/project-kube-knots-light.png"
            class="opacity-90 rounded-lg shadow-lg dark:hidden"
            widths={[400, 768]}
            sizes="(max-width: 767px) 400px, 768px"
            alt="Kube Knots"
            aspectRatio={1.3}
          />
        </div>
      </div>
    </section>
  </main>
</PageLayout>
