---
import BaseHead from "../components/BaseHead.astro";
import BasicScripts from "../components/BasicScripts.astro";
import "../styles/base.css";

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {...meta} />

    <script is:inline>
      const classList = document.documentElement.classList;
      const localStorageTheme = localStorage.getItem("theme");

      if (
        localStorageTheme === "dark" ||
        (!localStorageTheme && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        classList.add("dark");
      } else {
        classList.remove("dark");
      }
    </script>
  </head>

  <body
    class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSK6K"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <slot />
    <BasicScripts />
  </body>
</html>
