---
import BlogListItem from "../components/BlogListItem.astro";
import Pagination from "../components/Pagination.astro";
import type { IPageProps } from "../helpers/staticPathProps";

interface Props extends IPageProps {
  title: string;
  tags?: string[];
}

const { title, page } = Astro.props;
---

<section class="px-4 sm:px-6 py-8 sm:py-16 lg:py-20 mx-auto max-w-3xl">
  <header>
    <h1
      class={`text-center text-5xl md:text-[3.50rem] font-bold mb-8 md:mb-16`}
    >
      {title}
    </h1>
  </header>
  <ul>
    {
      page.data.map((post) => (
        <li class="mb-10 md:mb-16">
          <BlogListItem post={post} />
        </li>
      ))
    }
  </ul>

  {
    (page.url.prev || page.url.next) && (
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    )
  }
</section>
